body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f9f9f9;
	background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
	background-size: 20px 20px;
}

* {
	box-sizing: border-box;
}

.form-container {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	width: 400px;
	text-align: center;
}

h2 {
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

input {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
}

button {
	width: 100%;
	padding: 12px;
	background-color: #ff7f00;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #e06b00;
}

div {
	margin-top: 20px;
	font-size: 14px;
}

a {
	color: #ff7f00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logo {
	margin-bottom: 0px;
	width: 120px;
}

.logo img {
	max-width: 100px;
}
